<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span> Home
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">       
        <li><a ui-sref="trace">User</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right app-navbar-text">
        <li><a href ng-click="nav.logout()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
